.about-container {
    background-color: #ffffff7a;
    padding: 64px;
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    flex-flow: wrap;
    width: fit-content;
    font-size: 17px;
    max-width: 700px;
    overflow: hidden;
    align-items: center;
}

.about-container img {
    width: 100%;
    height: 24px;
}

.about-container > div > div { /*Select the second child of about-container (example: .about-age)*/
    display: flex;
    flex-direction: row;
}

.about-gold {
    color: var(--gold-color);
    font-weight: 601;
    width: 110px;
}

.about-left {
    padding-right: 15px;
    border-right: 1px solid var(--gold-color);;
    height: fit-content;
}

.about-right {
    padding-left: 15px;
    flex: 1;
}

.about-mail-content a:hover {
    text-decoration: underline;
}