@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /*background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(191, 250, 251), rgb(253, 220, 252)) repeat scroll 0% 0%;*/
}

.container {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.navbar {
    font-size: 19px;
    line-height: 1.42857143;
    color: #333;
    position: fixed;
    right: 15px;
    top: 12px;
    z-index: 800;
}

.navbar > a {
    color: #fff;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
    float: left;
}

.navbar > a::after {
    display: block;
    margin-top: 5px;
    width: 0;
    height: 2px;
    background-color: #fff;
    content: '';
    opacity: 0;
    transition: width 0.6s, opacity 0.8s;
}

.navbar > a:hover::after {
    opacity: 1;
    width: 100%;
}

#fp-nav ul li .fp-tooltip {
    font-family: 'Poppins', sans-serif !important;
}

.arrow-down {
    position: fixed;
    bottom: 9%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    z-index: 999;
}

.arrow-down > i {
    font-size: 200%;
    font-style: italic;
    transition: all 0.3s;
}

.arrow-down > i:hover {
    transform: matrix3d(1, 0, 0, 0, 0.5, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    cursor: pointer;
}